{#
 # Articles index template
 # -------------------
 #
 # This template is loaded whenever http://uxdesignmatters.org/articles is
 # requested, because it is located at articles/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block head %}
<style>
	/* Overrides */
	.issue { display: none; }
	article { display: inline-block; }
</style>
{% endblock %}

{% set title = "Articles" %}

{% block content %}
	<h1>Article Archives</h1>
	<div class="multicolumn">
	{% for entry in craft.entries.section('articles').find() %}
	<article>
		<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		{{ entry.shortDescription }}
		<!--{{ entry.body.getPage(1) }}-->
		<p><a href="{{ entry.url }}">Continue reading</a></p>
	</article>
	{% endfor %}
	</div>
{% endblock %}
