{#
 # Issues index template
 # -------------------
 #
 # This template is loaded whenever http://uxdesignmatters.org/issues is
 # requested, because it is located at issues/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block head %}
<style>
	/* Overrides */
	.issue { display: none; }
	.article { display: inline-block; }
	.multicolumn { column-width: 600px; }	
</style>
{% endblock %}

{% block content %}
<h1>Past Issues</h1>
<div class="multicolumn">
	{% for entry in craft.entries.section('issues').find() %}
	<div class="article">
		<h3><a href="{{ entry.url }}">Issue Number {{ entry.issueNumber }}</a></h3>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		<ul>
			{% for article in craft.entries.section('articles').issueNumber(entry.issueNumber).limit(4).find() | reverse %}
				<li><a href="{{ article.url }}">{{ article.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>	
{% endblock %}
