{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	
    <meta name="description" content="UX Design Matters">
    <meta name="author" content="Thomas Yung">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

	<link rel="home" href="{{ siteUrl }}">
	
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/nav.css">
	
	<link rel="alternate" type="application/rss+xml" title="UX Design Matters - Latest News" href="/feed.rss" />
	<link rel="alternate" type="application/rss+xml" title="UX Design Matters - Latest Articles" href="/articles.rss" />

	{% block head %}
	{# additional head content goes here #}
	{% endblock %}
</head>

<body>
	
	<header class="header">
	
		<div class="nav-container">
    		<div class="nav-outer">
      			<div class="nav-inner">
					<nav class="nav">
						<a href="{{ url('issues') }}" {% if craft.request.firstSegment == 'issues' %}class="active"{% endif %}>Issues</a>
						<a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a>
						<a href="{{ url('resources') }}" {% if craft.request.firstSegment == 'resources' %}class="active"{% endif %}>Resources</a>
						<a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a>
					</nav>
				</div>
				<a href="#" class="scrollleft">&lt;</a>
    			<a href="#" class="scrollright">&gt;</a>
			</div>
		</div>
	
		<a href="{{ siteUrl }}" class="logo">
			<img src="{{ siteUrl }}/images/UXDM_logo.jpg" alt="UX Design Matters" />
		</a>
		
		<div class="issue">
			<div class="issue-label">Issue No.</div>
			{% block currentissue %}
			<div class="issue-number">{{globals.currentIssue}}</div>
			{% endblock %}
		</div>
		
	</header>
	
	<main id="content" role="main">		
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	<footer class="footer">
		Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved 
	</footer>

	<script src="/assets/js/nav.js"></script>

</body>

</html>
