{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block head %}
	<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	<link rel="import" href="/custom_components/meetup-events/meetup-events.html">
{% endblock %}

{% block content %}
	<h1 class="hidden">{{ entry.title }}</h1>
	
	<div class="issues-nav">
		<ul>
			{% for entry in craft.entries.section('articles').issueNumber(globals.currentIssue).limit(4).find() | reverse %}
				<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="clearboth"></div>
	
	<div class="heroimage">
		{% for entry in craft.entries.section('issues').issueNumber(globals.currentIssue).find() %}
			{% set image = entry.coverPageImage.first() %}
			{% if image %}				
				{% set full = (image.width > 2000) ? 2000 : image.width %}
				{% set half = round(full / 2) %}
				{% set fourth = round(full / 4) %}
				<img src="{{ image.url({ width: half }) }}" alt=""
				   srcset="{{ image.url({ width: fourth }) }} {{ fourth }}w,
				           {{ image.url({ width: half }) }} {{ half }}w,
				           {{ image.url({ width: full }) }} {{ full }}w"
				   sizes="(min-width: {{ half + 1 }}px) {{ full }}px,
				          (min-width: {{ fourth + 1 }}px) {{ half }}px,
				          100vw"
				>
			{% endif %}	
			<p>Image Credits: {{ entry.imageCredits }}</p>
		{% endfor %}
	</div>
	
	{{ entry.body }}
	
	<h2>Upcoming Events</h2>
	<meetup-events group="Rochester-Entrepreneur-Network"></meetup-events>

{% endblock %}
